th.text-center {
  color: rgb(232, 208, 127);
}

li.text-center {
  color:rgba(216, 216, 216, 0.635)
}

td {
  color:rgba(216, 216, 216, 0.635)
}

.text-color-header {
  color: rgb(29, 184, 214);
}

.text-color-header:hover {
  color: rgb(255, 255, 255);
}

.text-yellow {
  color: rgb(254, 195, 1);
}
